# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
ios/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Yarn
yarn.lock

# Bun
bun.lockb

# Babel
babel.config.js

# Metro
metro.config.js

# Debugging
npm-debug.*
yarn-debug.*
yarn-error.*
test.js

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
